html,

body { box-shadow: inset 0 0 100px rgba(200,200,200,.5); height:100%;}

.container {
	padding-top:24px;
}

.blog-footer {
  margin-top:30px;
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.twitter {
    background-image: url('/assets/Social_Icons/twitter.png');
    background-repeat:no-repeat;
    background-size: 40px;
    background-position: 1% 3%;
}

.twitter {
    background-image: url('/assets/Social_Icons/twitter.png');
    background-repeat:no-repeat;
    background-size: 40px;
    background-position: 1% 3%;
}

.instagram {
    background-image: url('/assets/Social_Icons/Instagram.png');
    background-repeat:no-repeat;
    background-size: 40px;
    background-position: 1% 3%;
}

.groovin {
	font-size:36px;
	text-align:center;
	padding:10px 0 0 0;
	border:3px solid #555;
	line-height:26px;
	margin-bottom:6px;
}

.groovin:hover {
	border:3px solid #c22;
	box-shadow: 0 0 4px #333;
	cursor: pointer;
}

.bashtag-logo {
	font-family: 'Bangers', cursive;
	color: #c22;
}

.bash-tag-line {
	line-height:12px;
	font-size: 12px;
	font-family: 'tahoma', sans-serif;
	color:#333;
	margin-top:0;
}

.blog-footer {
	font-size:18px;
	border-top:2px solid #333;
}
#create-heading {
	text-align:center;
}

.form-control:focus {
  border-color: #888;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(50, 50, 50, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(50, 50, 50, .6);
}

.slick-bash-slide {
	text-align:center;
}
.slick-bash-slide img {
	margin-left:auto;
	margin-right:auto;
}
.integrations {
	text-align:center;
}
.main-headings{
	font-family: 'Bangers', cursive;
	color: #c22;
	line-height:10px;
	font-size:20px;
	margin-bottom:-16px;
}

#get-started {
	text-align:center;
}