/* 
    Document   : navigation
    Created on : Apr 13, 2014, 7:40:57 PM
    Author     : stuartfeldt
    Description:
        Purpose of the stylesheet follows.
*/

/*
 * Masthead for nav
 */

.blog-masthead {
  background-color: #559 ;
  border-bottom:solid 8px #cfcfcf;
  border-top:solid 1px #2a2a2a;
}

/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #fff;
}
.blog-nav .active:after {
  color: #cfcfcf;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right:  5px solid transparent;
  border-bottom: 5px solid;
  border-left:   5px solid transparent;
}
