/* 
    Document   : theme4
    Created on : Apr 3, 2014, 5:51:07 PM
    Author     : stuartfeldt
    Description: theme for hashtag things
    Omit anything if extra style not needed
*/

/* Theme 4 */

/* body background color */
body{ background-image: url('/assets/img/theme4.jpg');}

/* hashtag color */
#brand{ color: #666 }

/* navbar color */
.navbar-inverse{ background-color: #222 }

/* navbar border color */
.navbar-inverse{ border-bottom:1px solid #444 }

/* navbar controls active */
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus { background-color:#2a2a2a !important }

/* link colors */
a { color: #66afe9 }

/* link hover colors */
a:hover { color: #000 }

/* tweet background color */
.well.tweet { background-color: rgba(200, 200, 200, 0.3) !important;}

/* tweet background border */
.well.tweet { border: 1px solid #666 !important}

/* tweet text color */
.well.tweet { color: #888 !important}

/* tweet text size */
.well.tweet { font-size: 1.1em !important}

/* tweet time color */
.tweet_time { color: #cfcfcf !important}

/* tweet time size */
.tweet_time { font-size: 1em !important}

/* tweet author name color */
.tweet_author a { color: #cfcfcf !important}

/* tweet author name size */
.tweet_author a { font-size: .9em !important}