/* 
    Document   : theme3
    Created on : Apr 3, 2014, 5:51:07 PM
    Author     : stuartfeldt
    Description: theme for hashtag things
    Omit anything if extra style not needed
*/

/* Theme 2 */

/* body background color */
body{ background-color: #595;}

/* hashtag color */
#brand{ color: #ac2925 }

/* navbar color */
.navbar-inverse{ background-color: #444 }

/* navbar border color */
.navbar-inverse{ border-bottom:1px dotted #99ff99 }

/* navbar controls active */
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus { background-color:#449 !important }

/* link colors */
a { color: #d2322d }

/* link hover colors */
a:hover { color: #99ff99 }

/* tweet background color */
.well.tweet { background-color: #269abc !important}

/* tweet background border */
.well.tweet { border: 1px solid #759e1a !important}

/* tweet text color */
.well.tweet { color: #d6e9c6 !important}

/* tweet text size */
.well.tweet { font-size: 1.1em !important}

/* tweet time color */
.tweet_time { color: #d6e9c6 !important}

/* tweet time size */
.tweet_time { font-size: .7em !important}

/* tweet author name color */
.tweet_author a { color: #999999 !important}

/* tweet author name size */
.tweet_author a { font-size: 1.4em !important}