/* 
    Document   : theme2
    Created on : Apr 3, 2014, 5:50:58 PM
    Author     : stuartfeldt
    Description:
        Purpose of the stylesheet follows.
*/

/* Theme 2 */
body{ background-color: #559;}
#brand{ color: #559; }
a { color: #428bca; }
a:hover { color: #269abc }
