<div id="bashtag" class="groovin bashtag-logo view-bashtag-logo">
	<a href="/"><img id="bashtag-mast" src="/assets/img/logo.png" /></a>
	<a class="bashtag-icons" href="#"><span class="glyphicon glyphicon-cloud pull-right"></span></a>
</div>
