<div id="bashtag" class="groovin bashtag-logo">
	<img id="bashtag-mast" src="/assets/img/logo.png" />
	<a class="bashtag-icons" href="#"><span class="glyphicon glyphicon-cloud pull-right"></span></a>
</div>
