<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/favicon.ico">

    <title>{{ page.title }}</title>
    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <!-- Custom styles for this template -->
		<link href='/assets/css/home.css' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="/assets/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/bashtag.css"/>
    {% block extracss %} {% endblock %}
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
		<div id="wrap">
					{% include 'StuartHashtagBundle:modules:bashtag.html.twig' %}
    <div class="container">   
      <div class="row">
					<div class="col-md-6 col-md-offset-3" id="create-heading">{% block desc %}<h4><small>{{ page.description }}</small></h4>{% endblock %}</div>
          {% block blogpage %}
        <div class="col-md-6 blog-main col-md-offset-3">
           {% block main %}{% endblock %}
        </div><!-- /.blog-main -->
        {% endblock %}
      </div><!-- /.row -->

    </div><!-- /.container -->
		</div>
		{% block footer %}
    {% include 'StuartHashtagBundle:modules:footer.html.twig' %}
    {% endblock %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.js"></script>
		{% include 'StuartHashtagBundle:modules:ga.html.twig' %}
    {% block extrascript %}{% endblock %}
  </body>
</html>
