<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/favicon.ico">

    <title>{{ page.title }}</title>
    <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/css/blog.css" rel="stylesheet">
    <link href="/assets/css/navigation.css" rel="stylesheet">
    
    {% block extracss %} {% endblock %}
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    {% include 'StuartHashtagBundle::navigation.html.twig' %}

    <div class="container">
        <div class="row">
      <div class="blog-header col-sm-8">
        <h1 class="blog-title">{{ page.heading }}</h1>
        <p class="lead blog-description">{{ page.description }}</p>
      </div>
        <div class="col-sm-4 blog-sidebar">
        <div class="sidebar-module sidebar-module-inset">
            {% block options %}
                <h4>Want More Options?</h4>
                <p>Try the <a href="/create/plus">Standard+</a> or <a href="/create/premium">Premium</a> options for blocking usernames, blocking profanity, and additional hashtag </p>
            {% endblock %}
            </div> 
                </div>
                </div>
            
      <div class="row">
          {% block blogpage %}
        <div class="col-sm-8 blog-main">
           {% block main %}
                
            
           {% endblock %}
        </div><!-- /.blog-main -->
        <div class="col-sm-3 affix" role="complimentary">
            {% block affix %}
            {% endblock %}
            </div>
        {% endblock %}
      </div><!-- /.row -->

    </div><!-- /.container -->

    <div class="blog-footer">
      <p>
        <a href="#">Back to top</a>
      </p>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.js"></script>
    <script src="/assets/js/docs.min.js"></script>
    <script>
        Holder.add_theme("Good", {background:"#ECF3F3", foreground:"#A5AAAA", size:75, font: "Monaco", fontweight:"normal"});
        Holder.add_theme("Better", {background:"#5bc0de", foreground:"#eee", size:75, font: "Monaco", fontweight:"normal"});
        Holder.add_theme("Best", {background:"#5cb85c", foreground:"#eee", size:75, font: "Monaco", fontweight:"normal"});
    </script>
    {% block extrascript %}{% endblock %}
  </body>
</html>
