<div class="modal fade bs-example-modal-lg" id="customThemeModal" tabindex="-1" role="dialog" aria-labelledby="customThemeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="customThemeModalLabel">Customize Theme</h4>
      </div>
            <div class="modal-body">
            <div class="row">
                <div class="col-sm-6 col-md-6">
                     <h3>General</h3>
                    <table class="table">
                            <tr>
                            <td><label for="backgroundColor">Background Color</label></td>
                            <td><input type='text' id="backgroundColor" class="spectrum" /></td>
                        </tr>
                    </table>

                    <h3>Font & Colors</h3>
                    <table class="table">

                        <tr>
                            <td><label for="linkColor">Link Color</label></td>
                            <td><input type='text' id="linkColor" class="spectrum" /></td>
                        </tr>
                        <tr>
                            <td><label for="linkHoverColor">Link Hover Color</label></td>
                            <td><input type='text' id="linkHoverColor" class="spectrum" /></td>
                        </tr>
                        <tr>
                            <td><label for="brandColor">Brand Color</label></td>
                            <td><input type='text' id="brandColor" class="spectrum" /></td>
                        </tr>
                        <tr>
                            <td><label for="font">Font</label></td>
                            <td><select><option>test</option></select></td>
                        </tr>

                    </table>
                </div>
                <div class="col-sm-6 col-md-6">    
                    <h3>Navigation</h3>
                    <table class="table">
                        <tr>
                            <td><label for="navBarColor">Navigation Bar Color</label></td>
                            <td><input type='text' id="navBarColor" class="spectrum" /></td>
                        </tr>
                    </table>
                     
                    <h3>Tweets</h3>
                    <table class="table">
                        <tr>
                            <td><label for="tweetBackbroundColor">Tweet Background Color</label></td>
                            <td><input type='text' id="tweetBackbroundColor" class="spectrum" /></td>
                        </tr>
                        <tr>
                            <td><label for="tweetBackbroundBorder">Tweet Background Border</label></td>
                            <td><input type='text' id="tweetBackbroundBorder" class="spectrum" /></td>
                        </tr>
                        <tr>
                            <td><label for="tweetTextColor">Tweet Text Color</label></td>
                            <td><input type='text' id="tweetTextColor" class="spectrum" /></td>
                        </tr>
                        <tr>
                            <td><label for="tweetTextSize">Tweet Text Size</label></td>
                            <td><input type='text' id="tweetTextSize" class="spectrum" /></td>
                        </tr>
                    </table>
                </div>
            </div>
            </div>
            <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>