{% extends "StuartHashtagBundle::layout.html.twig" %}

{% block main %}
<div class="slick">
  <div class="slick-bash-slide">
		<img  src="/assets/Social_Icons/twitter.png" alt="Generic placeholder image">
    <h2>Twitter</h2>
    <p>Pull tweets from Twitter based on #hashtag.  Images from yfrog, instagram, and twitpic will be displayed.</p>
	</div>
  <div class="slick-bash-slide">
		<img src="/assets/Social_Icons/Instagram.png" alt="Generic placeholder image">
		<h2>Instagram</h2>
		<p>Pull images posed to Instagram tagged with #hashtag.  Also, displays any associated text and author.</p>
	</div>
  <div class="slick-bash-slide">
		<p>Other fun facts.</p>
		
	</div>
</div>
<br>
<div id="get-started">
	<span> &bull; </span>
	<a href="/create" type="button" class="btn btn-default btn-lg">Get Started</a>
	<span> &bull; </span>
	<a href="/view/test123" class="btn btn-default btn-lg">View Demo</a>
	<span> &bull; </span>
</div>

{% endblock %}
{% block extrascript %}
<script>
$(document).ready(function(){
	$('.slick').slick({
		autoplay: true,
		pauseOnHover: false
	});
});
</script>

{% endblock %}

{% block footer %}{% endblock %}
