{% extends "StuartHashtagBundle:Default:standard.html.twig" %}
{% block profanity %}Customize {% endblock %}
{% block plus %}
<div class="form-group">
    <label for="user_blocks">Block Usernames</label>
    <input type="text" class="form-control" name="user_blocks" id="user_blocks" placeholder="Enter User Names">
</div>
<div class="form-group">
    <label for="extra_hashtags">Extra Hashtags</label>
    <input type="text" class="form-control" name="extra_hashtags" id="extra_hashtags" placeholder="Enter Hashtags">
</div>
{% endblock %}
