{% extends "StuartHashtagBundle:Default:standard.html.twig" %}
{% block formextend %}
<div class="form-group">
    <label for="filters">Filters</label>
    <input type="text" class="form-control" id="filters">
    
</div>

{% endblock %}