{% extends "StuartHashtagBundle:Default:plus.html.twig" %}
{% block pro %}
<div class="form-group">
    <label for="pass">Password Access</label>
    <input type="password" class="form-control" name="pass" id="pass" placeholder="Enter Password">
    <input type="password" class="form-control" name="pass_c" id="pass_c" placeholder="Confirm Password">
</div>
{% endblock %}